{% extends "layout.html" %} {% block content %}
<div class="content-section">
    <div class="account-container">
        <h1>{{ current_user.username }}</h1>
        {% if current_user.logo_url %}
        <img
            src="{{ url_for('static', filename=current_user.logo_url) }}"
            alt=""
            class="logo-img"
        />
        {% endif %}
    </div>

    <form method="POST" enctype="multipart/form-data" action="">
        {{ logo_form.hidden_tag() }}
        <div class="form-group">
            {{ logo_form.logo.label(class="form-control-label") }} {% if
            logo_form.logo.errors %} {{ logo_form.logo(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.logo.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %} {{ logo_form.logo(class="form-control form-control-lg")
            }} {% endif %}
        </div>
        <div class="form-group">
            {{ logo_form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <h2>Delete Account</h2>
    <p>
        Are you sure you want to delete your account? This action cannot be
        undone.
    </p>

    <form method="POST" action="{{ url_for('account') }}">
        {{ delete_form.csrf_token }} {{ delete_form.submit(class="btn
        btn-danger") }}
    </form>
</div>
{% endblock content %}
