{% extends "layout.html" %} {% block content %}
<div class="content-section">
    <div class="account-container">
        <h1>Hi, {{ current_user.first_name }}</h1>
        {% if current_user.logo_url != 'default.jpg' %}
        <img
            src="{{ url_for('static', filename=current_user.logo_url) }}"
            alt=""
            class="logo-img"
        />
        {% endif %}
    </div>

    <div class="account-details">
        <h2>Account Details</h2>
        <form method="POST" enctype="multipart/form-data">
            <div>{{ account_form.hidden_tag() }}</div>
            <div>
                {{ account_form.username.label }} {{
                account_form.username(size=20, value=current_user.username) }}
            </div>
            <div>
                {{ account_form.first_name.label }} {% if
                current_user.first_name %} {{ account_form.first_name(size=20,
                value=current_user.first_name) }} {% else %} {{
                account_form.first_name(size=20) }} {% endif %}
            </div>
            <div>
                {{ account_form.last_name.label }} {% if current_user.last_name
                %} {{ account_form.last_name(size=20,
                value=current_user.last_name) }} {% else %} {{
                account_form.last_name(size=20) }} {% endif %}
            </div>
            <div>
                {{ account_form.email.label }} {{ account_form.email(size=30,
                value=current_user.email) }}
            </div>
            <div>
                {{ account_form.bio.label }} {{ account_form.bio(rows=3,
                cols=40, value=current_user.bio) }}
            </div>
            <div>
                {{ account_form.date_of_birth.label }} {{
                account_form.date_of_birth(size=10, placeholder="YYYY-MM-DD",
                value=current_user.date_of_birth) }}
            </div>
            <div class="form-group">
                {{ account_form.logo.label(class="form-control-label") }} {% if
                account_form.logo.errors %} {{
                account_form.logo(class="form-control form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.logo.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ account_form.logo(class="form-control
                form-control-lg") }} {% endif %}
            </div>
            <div class="submit">{{ account_form.submit }}</div>
        </form>

        <form method="POST">
            {{ delete_form.hidden_tag() }}
            <div>
                {{ delete_form.submit(class="btn btn-danger",
                onclick="showConfirmationDialog(event)") }}
            </div>
            <div id="confirmation-dialog" style="display: none">
                {{ delete_form.confirm(class="btn btn-danger") }}
                <button id="cancel-delete" class="btn btn-secondary">
                    Cancel
                </button>
            </div>
        </form>
    </div>

    <script>
        function showConfirmationDialog(event) {
            event.preventDefault();

            const dialog = document.getElementById("confirmation-dialog");
            dialog.style.display = "block";

            const cancelButton = document.getElementById("cancel-delete");
            cancelButton.addEventListener("click", function () {
                dialog.style.display = "none";
            });
        }
    </script>
</div>
{% endblock content %}
