<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='main.css') }}"
        />

        {% if title %}
        <title>Nova Store - {{ title }}</title>
        {% else %}
        <title>Flask Blog</title>
        {% endif %}
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-links">
                    <a href="/">Nova Store</a>
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('about') }}">About</a>
                    <a href="{{ url_for('store') }}">Store</a>
                </div>
                <div class="user-links">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('basket') }}">basket</a>
                    <a href="{{ url_for('account') }}">
                        <div class="account-link">
                            {% if current_user.logo_url != 'default.jpg' %}
                            <img
                                src="{{ url_for('static', filename=current_user.logo_url) }}"
                                alt=""
                                class="logo"
                            />
                            {% endif %}
                            <span>Account</span>
                        </div>
                    </a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main>
            <div class="content-container">
                <div class="flash-messages">
                    {% with messages =
                    get_flashed_messages(with_categories=true) %} {% if messages
                    %} {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" id="alert-message">
                        {{ message }}
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                </div>
                <script>
                    setTimeout(function () {
                        var alertMessage =
                            document.getElementById("alert-message");
                        if (alertMessage) {
                            alertMessage.style.display = "none";
                        }
                    }, 3000);
                </script>
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
    <footer></footer>
</html>
