{% extends "layout.html" %} {% block content %}
<div class="login-register-form form-main">
    <h3>Join Today</h3>
    <form method="POST" id="registration-form">
        {{ form.hidden_tag() }}
        <div class="form-group text">
            {{ form.username.label }} {% if form.username.errors %} {{
            form.username(class="form-control is-invalid", id='username') }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %} {{ form.username(class="form-control", id='username') }}
            {% endif %}
            <div
                id="username-error"
                class="error-message"
                style="display: none"
            ></div>
        </div>
        <div class="form-group text">
            {{ form.email.label }} {% if form.email.errors %} {{
            form.email(class="form-control is-invalid", id='email') }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %} {{ form.email(class="form-control", id='email') }} {%
            endif %}
            <div
                id="email-error"
                class="error-message"
                style="display: none"
            ></div>
        </div>
        <div class="form-group text">
            {{ form.password.label }} {{ form.password(class="form-control",
            id='password') }}
            <div
                id="password-error"
                class="error-message"
                style="display: none"
            ></div>
        </div>
        <div class="form-group text">
            {{ form.confirm_password.label }} {{
            form.confirm_password(class="form-control", id='confirm_password')
            }}
            <div
                id="confirm-password-error"
                class="error-message"
                style="display: none"
            ></div>
        </div>
        <div class="form-group">{{ form.submit }}</div>
    </form>
    <div class="redirect-form-link">
        <a href="{{ url_for('login') }}">Sign In</a>
    </div>
</div>
{% endblock content %}
