{% extends "layout.html" %} {% block content %}
<h1>Store</h1>
<div class="sorting">
    <form action="{{ url_for('store') }}" method="get">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort" onchange="this.form.submit()">
            <option value="name_asc" {% if sort_option == 'name_asc' %} selected {% endif %}>Name (Ascending)</option>
            <option value="name_desc" {% if sort_option == 'name_desc' %} selected {% endif %}>Name (Descending)</option>
            <option value="price_asc" {% if sort_option == 'price_asc' %} selected {% endif %}>Price (Ascending)</option>
            <option value="price_desc" {% if sort_option == 'price_desc' %} selected {% endif %}>Price (Descending)</option>
        </select>
    </form>
    <br>
</div>
<div class="product-grid">
    {% for product in products %}
    <div class="product-card">
        <div class="product-image-container">
            <a href="{{ url_for('product', product_id=product.id) }}">
                <img
                    src="{{ url_for('static', filename=product.image_url) }}"
                    alt="{{ product.name }}"
                    class="product-image-inner"
                />
            </a>
        </div>
        <div class="product-details">
            <h4 class="product-title">{{ product.name }}</h4>
            <p class="product-price">£{{ product.price }}</p>
            <p class="product-description">{{ product.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}