body {
    margin: 0;
    padding: 0;
    font-family: verdana ;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

main {
    margin: 20px;
    margin: 20 auto;
    padding: 20px;
}

nav {
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* You can adjust the width as needed */
    margin: 0 auto; /* To center the form horizontally */
}

.login-form input,
.login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-form button {
    background-color: #374f2f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.remember {
    display: inline-flex;
    align-items: left;
    font-size: 13px;
    margin-right: 100px;
}

.remember label {
    white-space: nowrap;
    margin-left: 3px;
    margin-top: 1px;
}

.login-form .forgot-password {
    text-align: center;
    font-size: 13px;
}

.login-form .forgot-password a {
    color: black;
    text-decoration: none;
}

.login-form .forgot-password a:hover {
    text-decoration: underline;
}
