body {
    font-family: verdana;
    margin: 0;
}
main {
    margin: 10px;
}
a {
    text-decoration: none;
}

/* Navbar */
nav {
    background-color: #374f2f;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    padding: 12px 20px;
}

nav a:hover {
    background-color: #2c4427;
}

.nav-links,
.user-links,
nav .account-link {
    display: flex;
    align-items: center;
}

nav .logo {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-top: 2px;
    margin-right: 10px;
}

/* Flash Messages */
.flash-messages {
    max-width: 840px;
    margin: auto;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

/* All forms */
form input[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: darkgreen;
}

form div {
    margin-bottom: 15px;
}

.form-group label,
.form-group a,
.redirect-form-link {
    font-size: 12px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="date"],
.form-group textarea {
    padding: 10px; /* Add padding for spacing */
    font-size: 12px; /* Adjust font size */
    border: 1px solid #ccc; /* Add a border for visual separation */
    border-radius: 5px; /* Add rounded corners */
    box-sizing: border-box; /* Include padding and border in the width */
    font-family: verdana;
}

/* Login / Register */
.login-register-form {
    max-width: 460px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.login-register-form a {
    color: black;
}

.login-register-form a:visited {
    color: black;
}

.form-control {
    width: 100%;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}
.invalid-feedback span {
    display: block;
}

/* Account */

.account {
    max-width: 800px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.account-info {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-logo img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-top: 10px;
    margin-left: 10px;
}

.user-details {
    display: flex;
    align-items: center;
}

.user-message h1 {
    margin: 0;
}
/* File Input  */
.file-upload {
    margin-bottom: 20px;
    position: relative;
}

.file-form-control {
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Delete Button */
form .delete-button input[type="submit"] {
    background-color: red;
}

#cancel-delete {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.hidden-field {
    display: None;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px); /* Move up by 5px on hover */
}
.product-card a {
    text-decoration: none;
    color: #333;
}

.product-image-container {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.product-image-inner {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-details {
    padding: 10px;
    flex: 1;
}

.product-title {
    margin: 0;
    font-size: 16px;
}

.product-price {
    margin: 5px 0;
    font-size: 14px;
}

.product-description {
    margin: 0;
    font-size: 12px;
}

/* Product */

.product-detail,
.comments {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 1;
    padding: 10px;
}

.btn-buy {
    background-color: #f0c14b;
    color: #111;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}


.review-list {
    margin-top: 20px;
}

.review-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column; /* Display username and text in a column layout */
}

.review-user {
    font-weight: bold;
    margin-bottom: 5px; /* Add some spacing between username and comment text */
}

.review-text {
    margin: 0;
}

.delete-button {
    text-align: left;
    margin-left: 10px;
}

.rating {
    width: 10%;
}
